body {
    width:460px;background:darkgrey;padding:10px;display:block;text-shadow:2px 1px 1px rgba(0,0,0,0.5);
}
fieldset {

    background: -webkit-linear-gradient(top, rgba(3,84,93,1) 0%,rgba(1,136,140,1) 40%,rgba(0,149,152,0.54) 50%,rgba(1,136,140,1) 60%,rgba(3,84,93,1) 100%);
    margin:10px 10px;
    padding:0px 20px;
    border:3px double black;border-radius:20px;box-shadow: 5px 5px 5px #888888;
}
h1{
    font-family: RedstarBold, sans-serif;font-size:26px;text-transform:uppercase;
    margin:10px;border: 3px double black;padding:10px 20px 10px 45px;
    background: -webkit-linear-gradient(top, rgba(3,84,93,1) 0%,rgba(1,136,140,1) 40%,rgba(0,149,152,0.54) 50%,rgba(1,136,140,1) 60%,rgba(3,84,93,1) 100%);
    color:peachpuff;border-radius:20px;box-shadow: 5px 5px 5px #888888;text-shadow:3px 3px 1px rgba(0,0,0,0.8);
}
h2{
    font-family: RedstarBold, sans-serif;text-transform:uppercase;
    margin:10px;font-size:16px;line-height:2.0em;
    color:peachpuff;text-shadow:3px 3px 1px rgba(0,0,0,0.5);
}
legend{
    font-style:italic; text-decoration:none;color:lightblue;
}
label{
    font-family:fantasy, serif, san-serif; font-size:16px;line-height:1.6em;
    font-weight:500;text-transform:capitalize;color:aqua;
}
textarea{
    background:lightcyan;font-style:italic;
    border:3px double cyan;border-radius:4px;
    resize:vertical;overflow:auto;box-shadow:3px 3px 1px rgba(0,0,0,0.5);
}
textarea:focus{
    background-color:cyan;border:4px double white;
}
select{
    border:3px double cyan;border-radius:6px;background:lightcyan;
}
a{
    
}
ul{
    line-height:0.3em;
}
ul.a {
    list-style-type:circle;
    color:mediumspringgreen;
}
ul.b {
    list-style-type:square;
    color:hotpink;
}
input{
    border:3px double cyan;border-radius:3px;background:lightcyan;box-shadow:3px 3px 1px rgba(0,0,0,0.5);
    
}
input:focus{
    background-color:cyan;border:4px double white;box-shadow:3px 3px 1px rgba(0,0,0,0.5);
}
/* @font-face {
    font-family:"FATSB___";
    src: url("../fonts/FATSB___.TTF")format('truetype');
} */
@font-face {
    font-family: "mouthbrebb";
    src:url("../fonts/mouthbrebb.ttf")format('truetype');
}
@font-face {
    font-family: "RedstarBold";
    src: url("../fonts/RedstarBold.ttf")format('truetype');
}